[Desktop Entry]
Comment[de]=syslog starten
Comment[es]=Arrancar syslog
Comment=Start syslog
Exec=su-me /usr/sbin/startsyslog
Icon=sidux-syslog
Name[de]=syslog starten
Name[es]=Arrancar syslog
Name=Start syslog
Type=Application
Categories=sidux;Services
