[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-to-root -c /usr/sbin/startsyslog
Icon=startsyslog
Terminal=true
Name=startsyslog
GenericName=start/watch syslog
GenericName[de]=syslog starten/ überwachen
Categories=System;
