[Desktop Entry]
Comment[de]=syslog starten
Comment[ru]=Запуск syslog
Comment[es]=Arrancar syslog
Comment=Start syslog
Exec=x-terminal-emulator -e /usr/sbin/startsyslog
Icon=sidux-syslog
Name[de]=syslog starten
Name[ru]=Запуск syslog
Name[es]=Arrancar syslog
Name=Start syslog
Type=Application
Categories=sidux;Services
