Source: startsyslog
Section: admin
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 6)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/startsyslog-sidux/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/startsyslog-sidux/trunk/

Package: startsyslog
Architecture: all
Depends: syslog-ng | sysklogd
Recommends: menu, xterm | x-terminal-emulator
Provides: startsyslog-sidux
Replaces: startsyslog-sidux
Description: Starts syslog server
 Enable syslog daemon and trace contents of /var/log/syslog

Package: startsyslog-sidux
Architecture: all
Depends: startsyslog
Description: Starts syslog server (transitional dummy package)
 Enable syslog daemon and trace contents of /var/log/syslog
 .
 startsyslog-sidux has been renamed (back) to startsyslog, the remaining
 transitional dummy package can be safely removed.
