Source: startsyslog-sidux
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/startsyslog-sidux/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/startsyslog-sidux/trunk/

Package: startsyslog-sidux
Architecture: all
Depends: sysklogd | syslog-ng, su-me
Recommends: xterm | x-terminal-emulator, sidux-xdg
Description: Starts syslog server
 Enable syslog daemon and trace contents of /var/log/syslog
