Source: startsyslog-sidux
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 6), imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/startsyslog-sidux/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/startsyslog-sidux/trunk/

Package: startsyslog-sidux
Architecture: all
Depends: syslog-ng | sysklogd
Recommends: menu, xterm | x-terminal-emulator
Description: Starts syslog server
 Enable syslog daemon and trace contents of /var/log/syslog
